<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <a href="/">
      <img src="https://avatars0.githubusercontent.com/u/1610857?v=3&amp;s=460" class="avatar" alt="">
    </a>
  </div>

  <div class="sidebar-item">
    <div class="social-icons">
      <ul>
        <li><a href="https://github.com/lykmapipo" target="_blank" alt="github profile" title="github profile"><i class="fa fa-github-square"></i></a></li>
        <li><a href="https://twitter.com/lallyelias" target="_blank" alt="twitter profile" title="twitter profile"><i class="fa fa fa-twitter-square"></i></a></li>
        <li><a href="https://angel.co/lally-elias" target="_blank" alt="angel profile" title="angel profile"><i class="fa fa-angellist"></i></a></li>
      </ul>
    </div>
  </div>

  <!-- <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div> -->
</div>
